@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Quicksand:wght@300..700&display=swap');

:root {
    --cor-primaria: #ff7420;
    --cor-secundaria: #FEF9F2;
    --cor-terciaria: #0B192C;
    --cor-hover: #1E3E62;

    --fonte-primaria: 'Orbitron', sans-serif;
    --fonte-secundaria: 'Quicksand', sans-serif;
}

* {
    margin:0;
    padding:0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    box-sizing: border-box;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-primaria);
    text-decoration: none;
    padding: 5px 7px;
    border: 2px solid white;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.cabecalho__menu__link:hover {
    transform: scale(1.1);
    background-color: #ececec;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao-curriculo {
padding: 5% 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px
}

.apresentacao__conteudo__titulo {
    color:var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
    line-height: 1.3;
}

.apresentacao__conteudo__titulo_sobre_mim {
    color: var(--cor-primaria);
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
    line-height: 1.3;
}

.curriculo_conteudo__titulo {
    color: var(--cor-primaria);
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
    line-height: 1.3;
}

.curriculo_conteudo__titulo_experiencias {
    color: var(--cor-primaria);
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
    line-height: 1.3;
}

.curriculo_conteudo__titulo_estudos {
    color: var(--cor-primaria);
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
    line-height: 1.3;
}

.apresentacao__conteudo__texto__estudos a {
    color: var(--cor-primaria);
    margin-left: 5px;
    padding: 0; 
    margin: 0;
    white-space: nowrap;
}


.titulo-destaque {
    color: var(--cor-primaria);
}

.apresentacao__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 24px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-size: 28px;
    line-height: 1.3;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.apresentacao__links__botoes {
    width: 360px;
    text-align: center;
    border-radius: 12px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    border: 2px solid var(--cor-primaria);
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 8px; 
    padding: 15px 0;
}

.apresentacao__links__botoes:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    width: 488px;
    height: 550px;
    object-fit: cover;
    border-radius: 10px;
    transform: scale(2.1);
    position: relative;
    left: 100px;
    bottom: 20px;
}

.apresentacao__imagem_curriculo {
    width: 488px;
    height: 550px;
    object-fit: cover;
    border-radius: 10px;
    transform: scale(2.1);
    position: relative;
    left: 100px;
    bottom: 20px;
}

.apresentacao__imagem_sobre_mim {
    width: 488px;
    height: 550px;
    object-fit: cover;
    border-radius: 10px;
    transform: scale(2.1);
    position: relative;
    left: 100px;
    bottom: 20px;
}

.apresentacao__links__botoes img { /* Especificamente para os ícones */
    width: 30px; /* Tamanho personalizado */
    height: 30px;
    vertical-align: middle; /* Alinha o ícone com o texto */
    margin-right: 8px; /* Espaço entre ícone e texto */
}

.rodape {
    padding: 10px 15px;
    border-top: 1px solid rgba(255, 98, 0, 0.253);
}

.rodape__divisao {
    background: linear-gradient(90deg, transparent 0%, var(--cor-primaria) 50%, transparent 100%);
    margin-bottom: 1.3rem;
}

.rodape__assinatura-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.rodape__assinatura {
    width: 0;
    overflow: hidden;
    font-family: var(--fonte-primaria);
    color: var(--cor-primaria);
    opacity: 0.8;
    border-right: 2px solid var(--cor-primaria);
    white-space: nowrap;
    margin: 0;
    letter-spacing: .15em;
    animation: 
        typing 7s steps(30, end) infinite,
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    0% { width: 0 }
    50% { width: 294px } /* Texto completamente visível na metade da animação */
    75% { width: 294px } /* Mantém o texto visível por um tempo */
    100% { width: 0 } /* Volta ao início */
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--cor-primaria) }
}

.rodape__botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
}

.rodape__botao {
    background: none;
    border: 1px solid var(--cor-primaria);
    color: var(--cor-primaria);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.rodape__clone {
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    color: var(--cor-secundaria);
    border: 1px solid var(--cor-secundaria);
    padding: 8px 1rem; 
    border-radius: 20px;
    transition: all 0.3s; 
    min-width: 180px;
    text-align: center;
    z-index: 10;  
}

.rodape__botao:hover {
    background: var(--cor-primaria);
    color: var(--cor-terciaria);
    transform: scale(1.05);
}

.rodape__clone:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    transform: translateY(-2px);
}

body.light-mode .rodape__clone {
    color: var(--cor-terciaria);
    border: 1px solid var(--cor-terciaria);
}

body.light-mode .rodape__clone:hover {
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
}

.rodape__assinatura::after {
    display: none;
}

.rodape__assinatura:hover::after {
    opacity: 1;
}

body.light-mode {
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
}

body.light-mode .cabecalho__menu__link {
    color: var(--cor-terciaria);
    border-color: var(--cor-terciaria);
}

body.light-mode .cabecalho__menu__link:hover {
    background-color: var(--cor-primaria);
}

body.light-mode .apresentacao__links__botoes {
    color: var(--cor-terciaria);
    border-color: var(--cor-terciaria);
}

body.light-mode .apresentacao__links__botoes:hover {
    background-color: var(--cor-hover);
    color: var(--cor-secundaria);
}

body.light-mode .rodape__botao {
    border-color: var(--cor-terciaria);
    color: var(--cor-terciaria);
}

body.light-mode .rodape__clone {
    color: var(--cor-terciaria);
    border-color: var(--cor-terciaria);
}

body.light-mode .rodape__assinatura {
    color: var(--cor-terciaria);
}

body.light-mode .apresentacao__conteudo__titulo {
    color: var(--cor-primaria);
}

body.light-mode .titulo-destaque {
    color: var(--cor-terciaria);
}